

*{
  font-family: 'Charis SIL', serif;
    margin: 0;
}


.slide-container {
    margin: 0 auto;
  }


  .slider {
    -webkit-appearance: none;
    width: 100%;
    background-color: #f2acf5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 2px outset #e5a9f8ad;
  }


  #keypressed{
    color: #888888;
  }

  input[type=number] {  
    color: #7604aa;
    cursor: pointer;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 2px 0;
  cursor: pointer;
}



  #octaves{
    background-color: #f6c5f8;
    border: 2px outset #e5a9f8ad;
    height: 29px;
  }

  .octavepicker, .wavefilter{
    text-align: left;
  }
  .octavepicker input, .waveform-types,.filter-types{
    text-align: center;
  }
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }
  
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 25px;
    background: #7604aa;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 18px;
    background: #7604aa;
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb:hover{
    background:#04aa72;

  }

  .container{
    padding: 3em 0;
      text-align: center;
  }
  .centered{
    margin: 0 auto;
  }


  .hidden{
    display: none;
  }

  .chooseFxButton {
    width: 126px;
    text-align: center;
    height: 5rem;
    cursor: pointer;
    margin: 8px auto;
    color: black;
  }

  .chooseFxButton--image{
    width: 100%;
    height: 3rem;
  }

  .chooseFxButton--text{
    margin: 0;
    color:inherit;
  }

  .chooseFxButton:hover{ 
    color:#04aa72;
  }
  


  .svgs{
    width: 1.5rem;
  }

  .rotate{
    transform: rotate(-270deg);
  }

  .icon-col{
    text-align: left;
  }


  .volumeUnison{
    margin: 0 1rem;
  }


  .muteButton{
    cursor: pointer;
  }

  .fxButtons{
    background-color:#f6c5f8;
    border: 1px outset white;
    color: black;
    width: 124px;
    height: 48px;
    outline: none;
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Play', sans-serif;
    letter-spacing: 2px;

  }

  .fxButtons:hover{
    border: 2px inset black;
  }

  .active{
    background-color:#3bffbd;
    color: black;
    border: 2px outset black;
  }

  .fxButtonRows{
    margin: 8px auto;
  }

  
  .fxContainer{
    border-top:  2px solid #f6c5f8;
    padding: 16px;
  }

  .adsr{
    margin: 24px 1rem;
  }

  

  .filterControl, .osc2, .mainControls{
    border-bottom: 2px solid #f6c5f8;
    padding: 8px 24px;
  }

  .delayControls, .lfoControls{
    border-bottom: 2px solid #f6c5f8;
    margin-bottom: 18px;

  }
.headers{
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
  font-family: 'Play', sans-serif;
  letter-spacing: 2px;
  
}

label{
  text-align: left;

}

.startButton{
  cursor: pointer;
  color:#3179af;
}

.startButton:hover{
  color: #04aa72;
}
.startButton--image{
  width: 400px;
  margin: 0 auto;
}

.startButton--text{
  margin: 0;
  font-size: 36px;
  font-family: 'Play', sans-serif;
}

.adsr-icon > h6, label, .chooseFxButton--text{
  font-weight: 500;
  font-family: 'Play', sans-serif;
  letter-spacing: 2px;
}

.delay{
  font-size: 14px;
}

.adsr-icon > h6, label{
  color:#7604aa;
}